@model BTL.Models.Products
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main">
    <div class="container">
        <ul class="breadcrumb">
            <li><a asp-action="Index" asp-controller="Home">Trang chủ</a></li>
            <li><a href="">Sản phẩm</a></li>
            <li class="active">Chi tiết sản phẩm</li>
        </ul>
        <!-- BEGIN SIDEBAR & CONTENT -->
        <div class="row margin-bottom-40">
            <!-- BEGIN CONTENT -->
            <div class="col-md-12 col-sm-10">
                <div class="product-page">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="product-main-image" style="position: relative; overflow: hidden;">
                                <img src="~/products/@Model.Image" alt="@Model.NameProduct" class="img-responsive" data-bigimgsrc="assets/pages/img/products/model7.jpg">
                                <img src="~/products/@Model.Image" class="zoomImg" style="position: absolute; top: -31.9014px; left: -12.2696px; opacity: 0; width: 600px; height: 800px; border: none; max-width: none;">
                            </div>
                            @*<div class="product-other-images">
                                <a href="assets/pages/img/products/model3.jpg" class="fancybox-button" rel="photos-lib"><img alt="Berry Lace Dress" src="assets/pages/img/products/model3.jpg"></a>
                                <a href="assets/pages/img/products/model4.jpg" class="fancybox-button" rel="photos-lib"><img alt="Berry Lace Dress" src="assets/pages/img/products/model4.jpg"></a>
                                <a href="assets/pages/img/products/model5.jpg" class="fancybox-button" rel="photos-lib"><img alt="Berry Lace Dress" src="assets/pages/img/products/model5.jpg"></a>
                            </div>*@
                        </div>
                        <form asp-action="Add" asp-controller="Cart" method="POST">
                            <input type="hidden" name="id" value="@Model.ProductId" />
                            <div class="col-md-6 col-sm-6">
                                <h1>@Model.NameProduct</h1>
                                <div class="price-availability-block clearfix">
                                    <div class="price">
                                        @if (Model.SalePrice > 0)
                                        {
                                            <strong>@Model.SalePrice <span>đ</span></strong>
                                            <em><span>@Model.Price </span>đ</em>
                                        }
                                        else
                                        {
                                            <strong>@Model.Price <span>đ</span></strong>
                                        }
                                    </div>
                                    <div class="availability">
                                        Trạng thái: <strong>Còn hàng</strong>
                                    </div>
                                </div>
                                <div class="description">
                                    <span class="claimedRight2">@Html.Raw(Model.Description)</span>...
                                </div>
                                @*<div class="product-page-options">
                                    <div class="pull-left">
                                        <label class="control-label">Size:</label>
                                        <select class="form-control input-sm">
                                            <option>L</option>
                                            <option>M</option>
                                            <option>XL</option>
                                        </select>
                                    </div>
                                    <div class="pull-left">
                                        <label class="control-label">Color:</label>
                                        <select class="form-control input-sm">
                                            <option>Red</option>
                                            <option>Blue</option>
                                            <option>Black</option>
                                        </select>
                                    </div>
                                </div>*@
                                <div class="product-page-cart">
                                    <div class="product-quantity">
                                        <div class="input-group bootstrap-touchspin input-group-sm"><span class="input-group-btn"><button class="btn quantity-down bootstrap-touchspin-down" type="button"><i class="fa fa-angle-down"></i></button></span><span class="input-group-addon bootstrap-touchspin-prefix" style="display: none;"></span><input id="product-quantity" type="text" value="1" name="quantity" class="form-control input-sm" style="display: block;"><span class="input-group-addon bootstrap-touchspin-postfix" style="display: none;"></span><span class="input-group-btn"><button class="btn quantity-up bootstrap-touchspin-up" type="button"><i class="fa fa-angle-up"></i></button></span></div>
                                    </div>
                                    <button class="btn btn-primary" type="submit" title="Thêm vào giỏ hàng"><i class="fa fa-cart-plus" aria-hidden="true"></i></button>
                                </div>
                                <ul class="social-icons">
                                    <li><a class="facebook" data-original-title="facebook" href="javascript:;"></a></li>
                                    <li><a class="twitter" data-original-title="twitter" href="javascript:;"></a></li>
                                    <li><a class="googleplus" data-original-title="googleplus" href="javascript:;"></a></li>
                                    <li><a class="evernote" data-original-title="evernote" href="javascript:;"></a></li>
                                    <li><a class="tumblr" data-original-title="tumblr" href="javascript:;"></a></li>
                                </ul>
                            </div>
                        </form>
                        <div class="product-page-content">
                            <ul id="myTab" class="nav nav-tabs">
                                <li class=""><a href="#Description" data-toggle="tab" aria-expanded="false">Mô Tả Sản Phẩm</a></li>
                                <li class="active"><a href="#Information" data-toggle="tab" aria-expanded="true">Thông tin sản phẩm</a></li>
                            </ul>
                            <div id="myTabContent" class="tab-content">
                                <div class="tab-pane fade" id="Description">
                                    <p>@Html.Raw(Model.Description)</p>
                                </div>
                                <div class="tab-pane fade active in" id="Information">
                                    <table class="datasheet">
                                        <tbody>
                                            <tr>
                                                <td class="datasheet-features-type">Chất liệu</td>
                                                <td>@Model.Material.NameMaterial</td>
                                            </tr>
                                            <tr>
                                                <td class="datasheet-features-type">Nhãn hàng</td>
                                                <td>@Model.Brand.NameBrand</td>
                                            </tr>
                                            <tr>
                                                <td class="datasheet-features-type">Nhà phân phối</td>
                                                <td>Metromic Shop</td>
                                            </tr>
                                            <tr>
                                                <td class="datasheet-features-type">Danh mục sản phẩm</td>
                                                <td>@Model.Category.NameCategory</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="sticker sticker-sale"></div>
                    </div>
                </div>
            </div>
            <!-- END CONTENT -->
        </div>
        <!-- END SIDEBAR & CONTENT -->
        <!-- BEGIN SIMILAR PRODUCTS -->
        <div class="row margin-bottom-40">
            <!-- BEGIN SALE PRODUCT -->
            <div class="col-md-12 sale-product">
                <h2>Sản phẩm liên quan</h2>
                <div class="owl-carousel owl-carousel5">
                    @foreach (var pro in ViewBag.Relate)
                    {
                        <div>
                            <div class="product-item">
                                <div class="pi-img-wrapper">
                                    <img src="~/products/@pro.Image" class="img-responsive" alt="@pro.NameProduct">
                                    <div>
                                        <a asp-controller="Cart" asp-action="Add" asp-route-id="@pro.ProductId" class="btn btn-default fancybox-fast-view" title="Thêm vào giỏ"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                                        <a asp-action="Detail" asp-controller="Product" asp-route-id="@pro.ProductId" class="btn btn-default fancybox-fast-view" title="Xem chi tiết"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                                <h3><a asp-action="Detail" asp-controller="Product" asp-route-id="@pro.ProductId"><span class="claimedRight1">@pro.NameProduct</span>...</a></h3>
                                @if (pro.SalePrice > 0)
                                {
                                    <div class="pi-price"><del>@pro.Price đ</del><span style="padding-left: 20px">@pro.SalePrice đ</span></div>
                                    <br>
                                    <br>

                                }
                                else
                                {
                                    <div class="pi-price">@pro.Price đ</div>
                                    <br>
                                    <br>
                                }
                                <div class="sticker sticker-sale"></div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <!-- END SALE PRODUCT -->
        </div>
        <!-- END SIMILAR PRODUCTS -->
    </div>
</div>

