@model BTL.Models.Products
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@section Scripts{
    <script src="//cdn.ckeditor.com/4.19.1/full/ckeditor.js"></script>
    <script>
        $(document).ready(function () {
            CKEDITOR.replace('txtDescription');
        })
    </script>
}

<section class="content" style="padding-top: 20px">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Cập nhật sản phẩm</h3>
                    </div>

                    <form action="/Admin/Products/Edit" method="POST" enctype="multipart/form-data">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1"> Mã sản phẩm</label>
                                        <input type="text" value="@Model.ProductId" name="ProductId" readonly class="form-control" id="exampleInputEmail1">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1"> Tên sản phẩm</label>
                                        <input type="text" value="@Model.NameProduct" name="NameProduct" class="form-control" id="exampleInputEmail1" placeholder="Nhập tên sản phẩm">
                                        <b class="text-danger">@ViewBag.Name</b>
                                        <b class="text-danger">@ViewBag.CheckName</b>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1"> Giá sản phẩm</label>
                                        <input type="number" value="@Model.Price" class="form-control" name="Price">
                                        <b class="text-danger">@ViewBag.Price</b>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1"> Giá khuyến mãi</label>
                                        <input type="number" value="@Model.SalePrice" class="form-control" name="SalePrice">
                                        <b class="text-danger">@ViewBag.SalePrice</b>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1"> Ảnh sản phẩm</label>
                                        <br>
                                        <img src="~/products/@Model.Image" width="20%">
                                        <input type="file" class="form-control-file" name="Images" id="exampleFormControlFile1">
                                        <input type="hidden" name="Image" value="@Model.Image">
                                    </div>
                                </div>
                                @*<div class="col-md-6">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1"> Ảnh liên quan</label>
                                            <input type="file" class="form-control-file" name="ImageRelate" id="exampleFormControlFile1">
                                        </div>
                                    </div>*@
                            </div>


                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Danh mục sản phẩm</label>
                                        <select class="form-control" name="CategoryId">
                                            <option value="">-------------------- Chọn danh mục --------------------</option>
                                            @foreach (var cate in ViewBag.listCate)
                                            {
                                                <option value="@cate.CategoryId" @(Model.CategoryId.Equals(cate.CategoryId) ? "selected" : "")>@cate.NameCategory</option>
                                            }
                                        </select>
                                        <b class="text-danger">@ViewBag.Category</b>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Nhãn hàng</label>
                                        <select class="form-control" name="BrandId">
                                            <option value="">-------------------- Chọn nhãn hàng --------------------</option>
                                            @foreach (var brand in ViewBag.listBrand)
                                            {
                                                <option value="@brand.BrandId" @(Model.BrandId.Equals(brand.BrandId) ? "selected" : "")>@brand.NameBrand</option>
                                            }
                                        </select>
                                        <b class="text-danger">@ViewBag.Brand</b>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Chất liệu sản phẩm</label>
                                        <select class="form-control" name="MaterialId">
                                            <option value="">-------------------- Chọn chất liệu --------------------</option>
                                            @foreach (var material in ViewBag.listMaterial)
                                            {
                                                <option value="@material.MaterialId" @(Model.MaterialId.Equals(material.MaterialId) ? "selected" : "")>@material.NameMaterial</option>
                                            }
                                        </select>
                                        <b class="text-danger">@ViewBag.Material</b>
                                    </div>
                                </div>
                                @*<div class="col-md-6">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Chọn màu sắc</label>
                                            <br>
                                            @foreach (var color in ViewBag.listColor)
                                            {
                                                <input style="margin-left: 20px" type="checkbox" name="ColorId" value="@color.ColorId" title="@color.NameColor"> <i style="padding-left: 5px;color: #@color.ColorId" class="fa fa-square" aria-hidden="true" title="@color.NameColor"></i>
                                            }
                                        </div>
                                    </div>*@
                            </div>

                            <div class="form-group">
                                <label for="exampleInputEmail1"> Mô tả sản phẩm</label>
                                <textarea name="Description" id="txtDescription" class="form-control">@Model.Description</textarea>
                                <b class="text-danger">@ViewBag.Dess</b>
                            </div>

                            <div class="form-group">
                                <label for="exampleInputPassword1">Trạng thái</label>
                                <br>
                                <input type="radio" name="Status" value="true" checked>Còn hàng
                                <input type="radio" name="Status" value="false">Hết hàng
                            </div>

                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Ghi thông tin</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>






